<html>

<head>
    <style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }

    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
    </style>
</head>
    <body>
        <h1>Hello welcome to the blood bank.</h1>
        <table>
        <tr>
            <th>Name</th>
            <th>Phone no</th>
            <th>Donate</th>
            <th>Donation Count</th>
            <th>Latest Donation</th>
        </tr>
        {% for donor in donor_list %}
            <tr>
                <td>{{ donor['name'] }}</td>
                <td><a href="tel:{{ donor['phone_no'] }}">
                        {{ donor['phone_no'] }}
                    </a>        
                </td>
                <td>
                    <a href='/record_time?phone_no={{ donor['phone_no'] }}'>
                        <button>Donate</button>
                    </a>
                </td>
                 <td>
                    {{ donor['count'] }}
                </td>
                <td>
                    {{ latest_donations[donor['phone_no']] }}
                </td>
            </tr>

         {% endfor %}
        </table>
    </body>
</html>