{% extends "base.html" %}
{% block content %}
        <h1>Hello welcome</h1>
        <div class='container'>
        <div class="col-ms-6" style='width: 50%;'>
        <form action="/register_donor" method='post' class="ui form">
            <div class="field">
                <label>Name</label>
                <input type="text" name="name">
            </div>
            <br>
            <div class="field">
                <label>Age</label>
            <input type="text" name="age">
            </div>
            <br>
            Blood Group:<br>
            <select name="blood_group" class="ui fluid dropdown">
                <option value="a+">A+</option>
                <option value="b+">B+</option>
                <option value="ab+">AB+</option>
                <option value="o+">O+</option>
                <option value="a-">A-</option>
                <option value="b-">B-</option>
                <option value="ab-">AB-</option>
                <option value="o-">O-</option>
            </select>
            <br><br>
            City:<br>
            <input type="text" name="city">
            <br>
            Phone No:<br>
            <input type="text" name="phone_no">
            <br>
            
            <br><br>
        <button class="ui button" type="submit">Submit</button>
</form> 
</div> 
</div>   
{% endblock %}
