<html>
    <body>
        <h1>Hello welcome</h1>
        <form action="/receiver" method='post'>
            Blood Group:<br>
            <select name="blood_group">
                <option value="a+">A+</option>
                <option value="b+">B+</option>
                <option value="ab+">AB+</option>
                <option value="o+">O+</option>
                <option value="a-">A-</option>
                <option value="b-">B-</option>
                <option value="ab-">AB-</option>
                <option value="o-">O-</option>
            </select>
            <br>
            City:<br>
            <input type="text" name="city">
            <br>
            <br><br>
        <input type="submit" value="Submit">
</form> 
    </body>
</html>