    <!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/add_event" method="post">
  Event Name:<br>
  <input type="text" name="name">
  <br>
  Event Area:<br>
  <input type="text" name="area">
  <br>
    Event Start Time:<br>
  <input type="text" name="start_time">
  <br>
    Event End Time:<br>
  <input type="text" name="end_time">
  <br>
    Event Organizer:<br>
  <input type="text" name="organizer">
  <br>
    Event Attendents:<br>
  <input type="text" name="attendents">
  <br>
  <br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/add_event".</p>

</body>
</html>
